@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Bebas Neue';
}

body {
  background-color: lightgrey;
}

.expense-item {
  display: flex;
  align-items: center;
  background-color: cornsilk;
  justify-content: space-between;
  margin: 0.25rem;
}

.expense-item__date,
.expense-item__amount {
  width: 80px;
  background-color: lightgrey;
  border: solid white 2px;
  border-radius: 6px;
}

.expense-item__month,
.expense-item__title,
.expense-item__year {
  font-size: large;
}

.expense-item__date,
.expense-item__title,
.expense-item__amount {
  padding: 0.25rem 1rem;
  margin: 1rem;
}

.expense-item__date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expenses {
  padding: 0.25rem;
  background-color: white;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.card {
  border-radius: 12px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 500px) {
  .expense-item {
    flex-direction: column;
    margin: 0.25rem;
  }

  .expense-item-container {
    height: auto;
  }

  .expense-item__date {
    margin: .5rem .5rem 0 .5rem;
  }
  .expense-item__title {
    margin: 0;
  }
  .expense-item__amount {
    margin: 0 .5rem .5rem .5rem;
  }
}
